# Algebra Tensorial - Bases Reciprocas

Este código hace una exploración del álgebra tensorial y encuentra la base reciproca para una base dada

## 0. Importación de librerías

In [4]:
import numpy as np
import pandas as pd
from numpy import array as vect, sqrt

## 1. Definición de la clase del código

In [33]:
# Funciones auxiliares
def Display(B):              # Para visualización
    df = pd.DataFrame(B)
    display(df)

def BaseReciproca(B):        # Para hallar la base reciproca
    B_dual = {'e^1':0, 'e^2':0, 'e^3':0}                   # Para guardar la base dual
    VolumeB = B['e_1'] @ np.cross(B['e_2'], B['e_3'])      # Triple producto escalar de la base original
    
    B_dual['e^1'] = np.cross(B['e_2'], B['e_3'])/VolumeB   # Vector 1 de la base dual
    B_dual['e^2'] = np.cross(B['e_3'], B['e_1'])/VolumeB   # Vector 2
    B_dual['e^3'] = np.cross(B['e_1'], B['e_2'])/VolumeB   # Vector 3
    return B_dual

        e^1       e^2  e^3
0  0.366025 -0.172546  0.0
1  0.366025  0.298858 -0.0
2 -0.000000  0.000000  0.2

In [35]:
# Bases de vectores
B = {'e_1':vect([sqrt(3),1,0]), 'e_2':vect([-3/2*sqrt(2), 3/2*sqrt(2),0]),
     'e_3':vect([0,0,5])} # Base original

B_dual = BaseReciproca(B)

Display(B_dual)

        e^1       e^2  e^3
0  0.366025 -0.172546  0.0
1  0.366025  0.298858 -0.0
2 -0.000000  0.000000  0.2

In [34]:
import sympy